@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: 'Montserrat' , sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

/*p{
    color: $color-white;
    // text-align: left;
    // font-size: 1.6rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 0.05rem;
    // text-align: justify;
    // padding: 5px;
    // justify-content: center;
} */
h4 {
  font-weight: 300; }

/* Keyframes */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 0;
    left: 100%; } }

@keyframes text_reveal {
  100% {
    color: #ffffff; } }

@keyframes text_reveal_name {
  100% {
    color: #dc143c;
    font-weight: 500; } }

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes openMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(90deg); } }

@keyframes openBottom {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

/* End Keyframes */
.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #dc143c;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color; }

.cta:hover {
  color: #ffffff;
  background-color: #dc143c; }

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto; }

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color; }

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  z-index: 1; }

#header .nav-bar a {
  text-decoration: none;
  color: blanchedalmond;
  text-transform: uppercase; }

#header .nav-links {
  display: flex;
  list-style: none; }

#header .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem; }

#header .nav-link a:hover {
  background: rgba(255, 255, 255, 0.2); }

#header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none; }

#header .menu-icon__line {
  display: block;
  position: relative;
  background: white;
  height: 2px;
  width: 20px;
  border-radius: 4px; }

#header .menu-icon__line::before,
#header .menu-icon__line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: white;
  transition: background .8s ease; }

#header .menu-icon__line::before {
  transform: translateY(-5px); }

#header .menu-icon__line::after {
  transform: translateY(5px); }

#header .menu-btn {
  display: none; }

#header .menu-btn .scrolled {
  height: 50px;
  background: gray;
  color: crimson; }

#header .menu-icon__line,
.menu-icon__line::before,
.menu-icon__line::after {
  background: darkgray; }

/*
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left:100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration:none;
    color:wheat;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: black;
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#header .hamburger{
    height:60px;
    width:60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform:scale(0.8);
    margin-right: 20px;
}

#header .hamburger .bar{
    height:2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}


#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top,bottom;
}
#header .hamburger .bar::after{
    top:8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top:0;
}
/*
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(31,30,30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s ease left;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: black;
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul:hover a{
    color:crimson;
}

#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}




*/
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center; }

.section-title span {
  color: #dc143c; }

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff; }

.brand h1 span {
  color: #dc143c; }

/* media query for desktop */
@media only screen and (min-width: 1200px) {
  /*#header .hamburger{
     display: none;
 }
 #header .nav-list ul{
     position: initial;
     display: block;
     height: auto;
     width: fit-content;
     background-color: transparent;
 }
 #header .nav-list ul li{
     display: inline-block;
 }
 #header .nav-list ul li a{
     font-size: 1.8rem;
 }
 #header .nav-list ul a::after{
     display: none;
 } */
  #academics .academics-bottom .academics-items {
    flex-basis: 22%;
    margin: 1.5%ss; } }

/*media query for tablet */
@media only screen and (max-width: 768px) {
  #header .menu-icon {
    display: block; }
  #header .menu-icon {
    display: block; }
  #header .menu-icon__line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse; }
  #header .menu-icon__line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse; }
  #header .menu-icon__line::after {
    animation: closedBottom 0.8s backwards;
    animation-direction: reverse; }
  #header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: darksalmon;
    background: grey;
    transition: opacity .8s .5s;
    clip-path: 1s .5s;
    clip-path: circle(200px at top right); }
  #header .nav-link {
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    text-align: center; }
  #header .nav-link a {
    display: block;
    padding: 2rem 0; }
  #header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center); }
  #header .nav-link {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 1.275); }
  #header .nav-link:nth-of-type(1) {
    transition-delay: .7s; }
  #header .nav-link:nth-of-type(2) {
    transition-delay: .8s; }
  #header .nav-link:nth-of-type(3) {
    transition-delay: .9s; }
  #header .nav-link:nth-of-type(4) {
    transition-delay: 1s; }
  #header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background: white;
    animation: openMid 0.8s forwards; }
  #header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background: white;
    animation: openTop 0.8s forwards; }
  #header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background: white;
    animation: openBottom 0.8s forwards; }
  #hero.cta {
    font-size: 2.5rem;
    padding: 20px 60px; }
  h1.section-title {
    font-size: 6rem; }
  /*hero */
  #hero.section-title {
    font-size: 7rem; }
  /*End of hero */
  /*service section */
  #academics .academics-bottom .academics-item {
    flex-basis: 45%;
    margin: 2.5%;
    text-align: center; }
  /*end of service section */
  /*project */
  #projects .projects-item {
    flex-direction: row; }
  #projects .projects-item:nth-child(even) {
    flex-direction: row-reverse; }
  #projects .projects-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0; }
  #projects .all-projects .project-info {
    height: 100%; }
  #projects .all-projects .project-img {
    height: 100%; }
  /* end of project */
  /* about */
  #about .about {
    flex-direction: row; }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px; }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 100%;
    width: 100%;
    border: 10px solid crimson; }
  #about .col-right {
    text-align: left;
    padding: 30px; }
  #about .col-right h1 {
    text-align: left; }
  /* end  about */
  /* contact */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh; }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0; }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row; }
  #contact .contact-items .icon {
    object-fit: contain;
    height: 100px;
    width: 100px; }
  #contact .contact-item .img {
    object-fit: contain; }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px; } }

/*End media query for tablet */
/*about section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px; }

#about .col-left {
  width: 250px;
  height: 360px; }

#about .col-right {
  width: 100%; }

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 10px; }

#about .col-right p {
  color: black;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.5rem;
  margin-top: 5px;
  font-weight: 400;
  letter-spacing: 0.05rem; }

#about .col-right h1 {
  text-align: center; }

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  font-weight: 500;
  padding: 10px 20px;
  font-size: 2rem; }

#about .col-left .about-img {
  height: 100%;
  width: 120%;
  position: relative;
  border: 10px solid white;
  padding-top: 10px; }

#about .col-left .about-img::after {
  content: '';
  position: absolute;
  left: -30px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 6px solid crimson;
  z-index: -1; }

/*end about section */
/* academecis */
#academics .academics {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0; }

#academics .academics-top {
  max-width: 500px;
  margin: 0 auto; }

#academics .academics-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 15px;
  margin: 50px;
  margin-top: 50px; }

#academics .academics .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px; }

#academics .academics-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #5e646b 0%, #87898b 100%), url(../img/education3.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden; }

#academics .academics::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: -1; }

#academics .academics h2 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 15px;
  text-transform: uppercase; }

#academics .academics p {
  font-size: 2rem;
  color: black;
  text-align: left; }

/*end academecis */
/* contact section */
#contact .contact {
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  width: 50%; }

#contact .contact-items {
  width: 100%;
  height: 100%; }

#contact .contact-item {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  /* margin-left: 120px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000001c;
  transition: .3s ease box-shadow; }

#contact .contact-item:hover {
  box-shadow: 0px 0px 18px 0 #0000004c; }

#contact .icon {
  width: 10px;
  margin: 0 auto;
  margin-bottom: 20px; }

#contact .contact-info h1 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 5px; }

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500; }

/*end contact section */
/* footer section */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); }

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding: 50px;
  padding-bottom: 10px; }

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: .1rem;
  margin-top: 10px;
  margin-bottom: 10px; }

#footer .social-icon {
  display: flex;
  margin-bottom: 30px; }

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px; }

#footer .social-item img {
  filter: grayscale(1);
  transition: .3s ease filter; }

#footer .social-item:hover img {
  filter: grayscale(0); }

#footer p {
  color: #ffffff;
  font-size: 1.3rem; }

/*end footer section */
/*Projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0; }

#projects .projects-header h1 {
  margin-bottom: 50px;
  justify-content: center;
  text-transform: uppercase; }

#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 20px; }

#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white; }

/*projects .project-info p{
      color: white;
      text-align: justify;
      font-size: 1.6rem;
      line-height: 1.9rem;
      padding: 5px;
      justify-content: center;
  
  } */
#projects .project-info h1 {
  padding: 10px;
  font-size: 3rem;
  color: wheat;
  font-weight: 500;
  text-align: left; }

#projects .project-info h2 {
  padding: 5px;
  font-size: 1.8rem;
  font-weight: 500;
  color: cornsilk;
  text-decoration: underline; }

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative; }

#projects .project-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  /*change here for normal image */
  opacity: .7; }

#projects .project-img {
  transition: 3s ease transform; }

#projects .project-item:hover .project-img {
  transform: scale(1.1); }

/* hero section */
#hero {
  background-image: url(../img/education2.jpg);
  background-size: 100% 100%;
  background-position: top center;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1; }

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1; }

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start; }

#hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s; }

#hero h1:nth-child(1) {
  animation-delay: 1s; }

#hero h1:nth-child(2) {
  animation-delay: 2s; }

#hero h1:nth-child(3) {
  animation: text_reveal_name .5s ease forwards;
  animation-delay: 3s; }

#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s; }

#hero h1:nth-child(1) span {
  animation-delay: 0.5s; }

#hero h1:nth-child(2) span {
  animation-delay: 1.2s; }

#hero h1:nth-child(3) span {
  animation-delay: 2.5s; }

/*end hero section */
